:host .stats {
  width: 60%;
  margin-left: 1em;
}

:host img {
  height: 200px;
  width: 60%;
  justify-self: center;
  align-self: center;
}

:host .stats {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

:host span.large {
  font-size: 1.7em;
  text-align: center;
}

:host span.small {
  color: #808080;
}

:host .separator {
  width: 2em;
  height: 0.2em;
  margin-top: 1em;
  background: #333;
  margin-bottom: 1em;
}

:host svg.chart {
  transform: rotate(-90deg);
}

:host circle.circle-1 {
  stroke-dasharray: calc((2 * 25% * 3.14159) * 50 / 100), 999;
}

:host circle.circle-2 {
  stroke-dasharray: calc((2 * 15% * 3.14159) * 50 / 100), 999;
}

:host .charts {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host .key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-right: 1em;
}

:host div.used {
  height: 3px;
  background: var(--branding-main);
  width: 100%;
}

:host div.available {
  height: 3px;
  background: #c3acce;
  width: 100%;
}

:host p.used {
  color: var(--branding-main);
}

:host p.available {
  color: #c3acce;
}
