<dashboard-component-card header="Favorites">Asdf</dashboard-component-card>

<dashboard-component-card
    header="Recent Activity"
    cardBackground="transparent"
>
    <div class="recent-files">
        <div class="file">
            <section>
                <header>
                    <i class="fas fa-file-image"></i>
                </header>
                <main>
                    <p class="file-name">File.mp4</p>
                    <p class="file-size">125 GB</p>
                    <p class="date">June 5, 2020</p>
                </main>
            </section>
        </div>
    </div>
</dashboard-component-card>
